@model IPagedList<Models.EF.Customers>
@using PagedList;
@using PagedList.Mvc;

@{
	ViewBag.Title = "Khách hàng";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-6">
	<div class="card">
		<div class="card-body card-block">

			@using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { @class = "form-horizontal" }))
			{
				<div class="row form-group">
					<div class="col col-md-9">
						<input type="text" placeholder="Nhập vào từ cần tìm" value="@ViewBag.SearchString" class="form-control">
					</div>
					<div class="col col-md-3">
						<button type="submit" class="btn btn-success">Tìm kiếm</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<br />
<div class="col-md-4">
	<a class="btn btn-primary" href="@Url.Action("Create","Customer")">Thêm mới</a>
</div>
<div class="content mt-3">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<!-- /.panel-heading -->
					<div class="panel-body">


						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Họ tên</th>
										<th>Ngày sinh</th>
										<th>Ảnh</th>
										<th>Địa chỉ Email</th>
										<th>Trạng thái</th>
										<th>#</th>
									</tr>
								</thead>
								<tbody>

									@foreach (var item in Model)
									{
										<tr id="row_@item.Id">
											<td>@item.Fullname</td>
											<td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DOB))</td>
											<td>
												<img src="~/Assets/Admin/img/@item.Photo" height="30" width="30" alt="" />
											</td>
											<td>@item.Email</td>
											<td>@item.Activated</td>
											<td>
												@Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
												@Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
												@Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
												{
											   Confirm = "Xóa hãng này ?",
											   OnComplete = "$(#row_" + @item.Id + ").remove()",
											   HttpMethod = "Delete"
										   })
											</td>
										</tr>
									}

								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
					<div class="row form-group">
						<div class="col col-md-9">
							<button type="button" class="btn btn-outline-primary">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</button>

							<div>
								@Html.PagedListPager(Model, page =>
	Url.Action("Index", new { page = page }))

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

