
@{
	Layout = null;
}
<div class="left-sidebar bg-gray-500 box-shadow">
	<div class="sidebar-content">
		<div class="user-info closed">
			<img src="http://placehold.it/90/c2c2c2?text=User" alt="John Doe" class="img-circle profile-img">
			<h6 class="title">John Doe</h6>
			<small class="info">PHP Developer</small>
		</div>
		<!-- /.user-info -->

		<div class="sidebar-nav">
			<ul class="side-nav">
				<li class="nav-header">
					<span class="">Main Category</span>
				</li>
				<li class=""><a href="@Url.Action("Index","home")"><i class="fa fa-dashboard"></i> <span>Trang chủ</span></a></li>
				<br />
				<li class="nav-header">
					<span class="">Sản phẩm</span>
				</li>
				<li class="has-children">
					<a href="#"><i class="fa fa-cart-plus"></i> <span>Sản phẩm</span> <i class="fa fa-angle-right arrow"></i></a>
					<ul class="child-nav">
						<li><a href="@Url.Action("Index","Product")"><i class="fa fa-bars"></i> <span>Xem sản phẩm</span></a></li>
						<li><a href="@Url.Action("Index","Product")"><i class="fa fa-plus"></i><span>Thêm sản phẩm</span></a></li>
					</ul>
				</li>

				<hr class="sidebar-divider" style="margin: 10px 15px 10px 15px;width:150px; border-color:#f8f9fc;">
				<li class="has-children">
					<a href="#"><i class="fa fa-book"></i> <span>Nhãn hàng</span> <i class="fa fa-angle-right arrow"></i></a>
					<ul class="child-nav">
						<li><a href="@Url.Action("Index","Category")"><i class="fa fa-bars"></i> <span>Xem nhãn hàng</span></a></li>
						<li><a href="@Url.Action("Index","Category")"><i class="fa fa-plus"></i> <span>Thêm nhãn hàng</span></a></li>
					</ul>
				</li>
				<hr class="sidebar-divider" style="margin: 10px 15px 10px 15px;width:150px; border-color:#f8f9fc;">
				<li class="nav-header">
					<span class="">Đơn hàng</span>
				</li>
				<li class="has-children">
					<a href="#"><i class="fa fa-shopping-cart"></i> <span>Đơn hàng</span> <i class="fa fa-angle-right arrow"></i></a>
					<ul class="child-nav">
						<li><a href="@Url.Action("Index","Order")"><i class="fa fa-bars"></i> <span>Xem đơn hàng</span></a></li>
						<li><a href="@Url.Action("Index","Cash")"><i class="fa fa-credit-card"></i><span>Thống kê doanh thu</span></a></li>
					</ul>
				</li>
				<hr class="sidebar-divider" style="margin: 10px 15px 10px 15px;width:150px; border-color:#f8f9fc;">
				<li class="nav-header">
					<span class="">Tài khoản</span>
				</li>
				<li><a href="@Url.Action("Index","Customer")"><i class="fa fa-user"></i> <span>Khách hàng</span></a></li>
				<hr class="sidebar-divider" style="margin: 10px 15px 10px 15px;width:150px; border-color:#f8f9fc;">

				<li><a href="@Url.Action("Index","Employee")"><i class="fa fa-user animate"></i> <span>Nhân viên</span></a></li>
				<hr class="sidebar-divider" style="margin: 10px 15px 10px 15px;width:150px; border-color:#f8f9fc;">

				<li><a href="@Url.Action("Index","Feedback")"><i class="fa fa-wechat"></i> <span>Phản hồi</span></a></li>
				<hr class="sidebar-divider" style="margin: 10px 15px 10px 15px;width:150px; border-color:#f8f9fc;">

				<li class=""><a href="pages-pricing.html"><i class="fa fa-close"></i> <span>Thoát</span></a></li>
			</ul>
		</div>
		<!-- /.sidebar-nav -->
	</div>
	<!-- /.sidebar-content -->
</div>
