
@{
	Layout = null;
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="index.html">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index","Customer")">
			<i class="fas fa-address-book"></i>
			<span>Khách hàng</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index","Customer")">
			<i class="fas fa-user-alt"></i>
			<span>Tài khoản</span>
		</a>
	</li>
	<hr class="sidebar-divider">

	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index","Product")">
			<i class="fas fa-align-justify"></i>
			<span>Hãng</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index","Product")">
			<i class="fas fa-bookmark"></i>
			<span>Thể loại</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="@Url.Action("Index","Product")">
			<i class="fas fa-mobile-alt"></i>
			<span>Sản phẩm</span>
		</a>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>


</ul>

